.bg-img
{
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/039/210/128/small_2x/ai-generated-beautiful-nature-mountain-scenery-professionalgraphy-photo.jpg');
    position: centre;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.6);
}